<mat-toolbar color="primary">
  <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
    <mat-icon (click)="sidenav.toggle()">menu</mat-icon>
  </button>
 
</mat-toolbar>

<mat-sidenav-container >
  <mat-sidenav #sidenav opened="true">
    <mat-nav-list>
      <button mat-button class="btn  m-2 text-center" [routerLink]="'home'">
        <mat-icon>home</mat-icon>
        <span>Home</span>
      </button>
    </mat-nav-list> 
  </mat-sidenav>
  <mat-sidenav-content>
    <div class="sideNav">
      <router-outlet></router-outlet></div>
  </mat-sidenav-content>
</mat-sidenav-container>



